.arrow {
  cursor: pointer;
  height: 3rem;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform .1s;
  width: 1rem;
  transform: rotate(90deg);

  $transition-time: .15s;

  &-top,
  &-bottom {
    background-color: rgb(219, 219, 219);
    height: .2rem;
    left: -.2rem;
    position: absolute;
    top: 50%;
    width: 100%;

    &:after {
      background-color: #666;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      transition: all $transition-time;
    }
  }

  &-top {
    transform: rotate(45deg);
    transform-origin: bottom right;

    &:after {
      left: 100%;
      right: 0;
      transition-delay: 0s;
    }
  }

  &-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;

    &:after {
      left: 0;
      right: 100%;
      transition-delay: $transition-time;
    }
  }

  &:hover & {

    &-top:after {
      left: 0;
      transition-delay: $transition-time;
    }

    &-bottom:after {
      right: 0;
      transition-delay: 0s;
    }
  }

  &:active {
    transform: scale(.9) rotate(90deg);
  }
}

.arrow[button-jiggling=true] {
  animation: shake .5s;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  .arrow-top,
  .arrow-bottom {
    background-color: rgb(255, 0, 0);
    transition: 5s;
  }
}

.arrow[button-jiggling=true]:hover {
  animation: none;
}

@keyframes shake {
  0% { transform: rotate(90deg) translate(1px, 1px)}
  10% { transform: rotate(90deg) translate(-1px, -2px) }
  20% { transform: rotate(90deg) translate(-3px, 0px)}
  30% { transform: rotate(90deg) translate(3px, 2px)}
  40% { transform: rotate(90deg) translate(1px, -1px)}
  50% { transform: rotate(90deg) translate(-1px, 2px) }
  60% { transform: rotate(90deg) translate(-3px, 1px)}
  70% { transform: rotate(90deg) translate(3px, 1px) }
  80% { transform: rotate(90deg) translate(-1px, -1px)}
  90% { transform: rotate(90deg) translate(1px, 2px)}
  100% { transform: rotate(90deg) translate(1px, -2px) }
}